server {
    listen       80 reuseport;
    server_name  stg.rynotes.com;
    return 301 https://$host$request_uri;
}

server {
    listen       443 ssl http2 default_server;
    server_name  stg.rynotes.com;

    location / {
        root   /var/www/blog/current/public;
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    ssl_certificate /etc/ssl/stg.rynotes.com.pem;
    ssl_certificate_key /etc/ssl/stg.rynotes.com.key;
}
